<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DATA + LOVE</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Stlye CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->


</head>

<body>

    <a name="top"></a>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand" href="#"><img src="../static/images/logo.png" alt="heart logo" width="25px"> <b>D A
                    T A + </b>L O V E</a>



            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink"
                        role="button" aria-haspopup="true" aria-expanded="false">Visuals</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#visual1">Background</a>
                        <a class="dropdown-item" href="#visual2">Attributes</a>
                        <a class="dropdown-item" href="#visual3">Demographics</a>
                        <a class="dropdown-item" href="#visual4">Top Ten Attributes</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

        </div>
    </nav>

    <!-- Page Content -->

    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="../static/images/banner.png" width="900px"
                    height="400px" alt="banner picture">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">A B O U T</h1>
                <h3>Final Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus
                    quam molestias corporis quod, ea minima accusamus.</p>
                <a class="btn btn-danger" href="https://github.com/kisha5000/Team12Project3" target="_blank">Github</a>
                <a class="btn btn-danger" href="http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/"
                    target="_blank">Data Source</a>
                <a class="btn btn-danger" href="/">Home</a>

            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Text Divider -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">“If We Meet Offline and You Look Nothing Like Your Pics, You’re Buying Me
                    Drinks Until You Do.”</p>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Team 12</h2>
                        <p class="card-text">
                            <ul>
                                <li><a href="https://github.com/kisha5000" target="_blank">Kandace Hebert</a></li>
                                <li><a href="https://github.com/martinezmaria" target="_blank">Maria Martinez</a></li>
                                <li><a href="https://github.com/ejkaster/" target="_blank">Beth Kaster</a></li>
                                <li><a href="https://github.com/bglaudesc" target="_blank">Brian Glaude</a></li>
                                <li><a href="https://github.com/jjasso1" target="_blank">Jesus Jasso</a></li>
                                <li><a href="https://github.com/onenaghi" target="_blank">Robert Naghi</a></li>
                        </p>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">APIs</h2>
                        <p class="card-text">
                            <ul>
                                <li><a href="/general_data" target="_blank">/general_data</a></li>
                                <li><a href="/combined_features_importance"
                                        target="_blank">/combined_features_importance</a></li>
                                <li><a href="/male_features_importance" target="_blank">/male_features_importance</a>
                                </li>
                                <li><a href="/female_features_importance"
                                        target="_blank">/female_features_importance</a></li>
                        </p>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Tools</h2>
                        <p>
                            <ul>
                                <li>Scikit-Learn</li>
                                <li>MondgoDB</li>
                                <li>Python Pandas</li>
                                <li>Tableau</li>
                                <li>Plotly</li>
                                <li>D3.js</li>
                                <li>HTML/CSS/Bootstrap</li>
                                <li>Heroku</li>

                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <!-- /.col-md-4 -->


        </div>
        <!-- /.row -->


    </div>
    </div>



    <!-- /.container -->



    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">2020 Rice Data Science Bootcamp | Team 12 | Final Project</p>
        </div>
        <!-- /.container -->
    </footer>






    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

</body>

</html>